body{
    background: #474747 url(../img/bg.png);
    font-family: 'Share Tech Mono', sans-serif;
    font-size: 1.3em;
    color: rgb(41, 209, 41);
}
h1,h2,h3,h4{
    font-family: 'Share Tech Mono', sans-serif;
}
img{
    max-widht: 100%;

}
#logo h1{
     text-shadow: 0px 3px 8px #2a2a2a;
     color: rgb(41, 209, 41);
}

a:hover {
    text-decoration: none;
}
section {
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Personal Data */
section {
    margin-bottom: 20px;
}

section .menu{
    margin-top: 20px;
    font-size: 0.8em;
    list-style: none;
}
section .menu a {
    color: #222;
    text-shadow: 0px 2px 3px #555;
    cursor: pointer;
    display: block;
    width: 100%;
    height: 100%;
}

section .menu li a{
    padding: 10px;
     -webkit-transition: all .25s linear;
     -moz-transition: all .25s linear;
       -o-transition: all .25s linear;
          transition: all .25s linear;
}

section .menu li:hover a{
    color:rgb(177, 170, 170);
}

#mainMenu a{
    font-size: 2.4em;
}

section .team{
     color: #222;
    text-shadow: 0px 2px 3px #555;
}
/* Articles Module */
#articles{
    opacity: 0;
     -webkit-animation-duration: 2s;
           -moz-animation-duration: 2s;
             -o-animation-duration: 2s;
                animation-duration: 2s;
        -webkit-animation-fill-mode: both;
           -moz-animation-fill-mode: both;
             -o-animation-fill-mode: both;
                animation-fill-mode: both;
}
#articles.visi{
    -webkit-animation-name: showBig;
    -moz-animation-name: showBig;
    -o-animation-name: showBig;
    animation-name: showBig;
}
#articles .count{
    margin-bottom: 15px;
    width:200px; 
    float:right;
}
#articles .count .number{
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background: rgb(134, 64, 64);
    color: #999; 
    padding: 5px;
}
#articles ul {
    list-style: none;
}

#articles-list .article{
    border: 1px solid rgba(34,34,34,0);
    margin: 5px;
    padding: 10px;
    font-size: 1.5em;
    word-break: break-word;
    line-height: 1em;
    text-transform: uppercase;
    color: #222;
    text-shadow: 0px 2px 3px #555;
    cursor: pointer;
    
    -webkit-transition: all .25s linear;
     -moz-transition: all .25s linear;
       -o-transition: all .25s linear;
          transition: all .25s linear;
}

#articles-list .article:hover{
    border: 1px solid rgba(255, 255, 255, 0.35);
    color: #999; 
    
}
#articles #detail-article{
   
    background-color: white;
    color: black;
    left: 0;
   
}

#articles #detail-article .close{
    color: white;
    background-color: red;
    border-radius : 5px;
    -moz-border-radius : 5px;
    -webkit-border-radius : 5px;
    font-weight: bold;
    padding: 10px;
}

#articles #detail-article.opened{
    opacity: 1;
}

.close:hover{
opacity: 0.4 !important;
}
#myModal{
    color:black;
}


/*About */
#about{
    font-size: 2em;
}
#about .made{
    background-size: contain;
    height: 50px;
    background-repeat: no-repeat;
    margin-top: 15px;
}
#about .drupal{
    background-image: url('../img/drupal.png');
}
#about .angular{
    background-image:  url('../img/angular.png');
}
#about .html5{
    background-image:  url('../img/HTML5-Logo.png');
}

.errnotfound {
    color: transparent;
    text-shadow: #fff 0 0 4px;
    font-size: 5em;
}
.loader{
    height: 100px;   
    width: 100px;
    opacity: 1;
    margin-left: 50%;
    background: url('../img/ajax-loader2.gif');
    background-size: 100px;
        -webkit-animation-duration: 2s;
           -moz-animation-duration: 2s;
             -o-animation-duration: 2s;
                animation-duration: 2s;
        -webkit-animation-fill-mode: both;
           -moz-animation-fill-mode: both;
             -o-animation-fill-mode: both;
                animation-fill-mode: both;
}
.loader.invi{
    -webkit-animation-name: hideSmall;
    -moz-animation-name: hideSmall;
    -o-animation-name: hideSmall;
    animation-name: hideSmall;
}
@-webkit-keyframes hideSmall {
        0% {
                opacity: 1;  
        }        
       50%{
            opacity:0;
            height: 100px;
            width: 100px;
        }
        100% {
            opacity:0;
               height: 0px;
               width: 0px;
        }
}

@-moz-keyframes hideSmall {
        0% {
                opacity: 1;  
        }        
       50%{
            opacity:0;
            height: 100px;
            width: 100px;
        }
        100% {
            opacity:0;
               height: 0px;
               width: 0px;
        }
}
@-o-keyframes hideSmall {
        0% {
                opacity: 1;  
        }        
       50%{
            opacity:0;
            height: 100px;
            width: 100px;
        }
        100% {
            opacity:0;
               height: 0px;
               width: 0px;
        }
}
@keyframes hideSmall {
        0% {
                opacity: 1;  
        }        
       50%{
            opacity:0;
            height: 100px;
            width: 100px;
        }
        100% {
            opacity:0;
               height: 0px;
               width: 0px;
        }
}

@-webkit-keyframes showBig {
        0% {
            opacity: 0;  
            height: 0px;
            width: 0px;
        }        
       50%{
            opacity:0;
            height: 100%;
            width: 100%;
        }
        100% {
            opacity:1;
            height: 100%;
            width: 100%;
        }
}

@-moz-keyframes showBig {
          0% {
            opacity: 0;  
            height: 0px;
            width: 0px;
        }        
       50%{
            opacity:0;
            height: 100%;
            width: 100%;
        }
        100% {
            opacity:1;
            height: 100%;
            width: 100%;
        }
}
@-o-keyframes showBig {
          0% {
            opacity: 0;  
            height: 0px;
            width: 0px;
        }        
       50%{
            opacity:0;
            height: 100%;
            width: 100%;
        }
        100% {
            opacity:1;
            height: 100%;
            width: 100%;
        }
}
@keyframes showBig {
         0% {
            opacity: 0;  
            height: 0px;
            width: 0px;
        }        
       50%{
            opacity:0;
            height: 100%;
            width: 100%;
        }
        100% {
            opacity:1;
            height: 100%;
            width: 100%;
        }
}
/** BOOTSTRAP OVERRIDES */
.modal img{
    max-width :100%;
}