body{
    background: #F4F4F2;
    font-family: 'Share Tech Mono', sans-serif;
    font-size: 1.3em;
    color: #000000;
    
}

header{
    background: transparent;
    width: 100%;
    z-index: 2000;
    padding-top:10px;
}

header img{
    max-height: 80px;
}
header a{
    color:#CC3D33;
}
.intro a{
    background: #CC3D33;
    color: white;
    padding: 10px;
    display: block;
    transition: all 300ms linear;
    -webkit-transition: all 300ms linear;
}
.intro  a:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-top: 19px solid transparent;
    border-bottom: 18px solid transparent;
    border-left: 19px solid #CC3D33;
    right: -4px;
    top: 0;
    transition: all 300ms linear;
    -webkit-transition: all 300ms linear;
}
.intro a:hover{
    background: rgba(190, 183, 183, 0.8);
}
.intro a:hover:after{
    border-left: 19px solid rgba(190, 183, 183, 0.8);
}
.intro{
    margin-bottom : 20px;
}
.content{
    z-index: 2000;
    margin-top: 40px;
}

h1,h2,h3,h4{
    font-family: 'Share Tech Mono', sans-serif;
}

img{
    max-widht: 100%;
}

a{
    color:#CC3D33;
     -webkit-transition: all .25s linear;
     -moz-transition: all .25s linear;
       -o-transition: all .25s linear;
          transition: all .25s linear;
}
a:hover{
    color: #8B3C37;
}

a:hover {
    text-decoration: none;
}
section {
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Personal Data */
section {
    margin-bottom: 20px;
}

.menu{
    font-size: 1.4em;
    list-style: none;
}
section .menu a {
    display: block;
    width: 100%;
    height: 100%;
    padding: 10px;
    text-align: center;
}


#mainMenu a{
    font-size: 2.4em;
}

/* Articles Module */
#articles{
    opacity: 0;
     -webkit-animation-duration: 2s;
           -moz-animation-duration: 2s;
             -o-animation-duration: 2s;
                animation-duration: 2s;
        -webkit-animation-fill-mode: both;
           -moz-animation-fill-mode: both;
             -o-animation-fill-mode: both;
                animation-fill-mode: both;
}
#articles.visi{
    -webkit-animation-name: showBig;
    -moz-animation-name: showBig;
    -o-animation-name: showBig;
    animation-name: showBig;
}
#articles .count{
    margin-bottom: 15px;
    width:200px; 
    float:right;
}
#articles .count .number{
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background:  #CC3D33;
    color: white; 
    padding: 5px;
}
#articles ul {
    list-style: none;
}

#articles-list .article{
    padding: 15px;
    font-size: 1.5em;
    margin-bottom: 20px;
    word-break: break-word;
    line-height: 1em;
    text-transform: uppercase;
    cursor: pointer;
    color: rgb(136, 122, 122);
    border: 1px solid rgba(0, 0, 0, 0.22);
    -webkit-transition: all .25s linear;
    -moz-transition: all .25s linear;
    -o-transition: all .25s linear;
    transition: all .25s linear;
    font-size: 13px;
    background: rgba(255, 255, 255, 0.75);

    height: 80px;
    overflow: hidden;
}



#articles-list .article:hover{
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.28);
    color: rgba(193, 197, 211, 1);
    font-size: 24px;
}

#articles-list .article:hover .glyphicon{
    visibility: visible;
}

#articles #detail-article{
    background-color: white;
    color: black;
    left: 0;
}

#articles #detail-article .close{
    color: white;
    background-color: red;
    border-radius : 5px;
    -moz-border-radius : 5px;
    -webkit-border-radius : 5px;
    font-weight: bold;
    padding: 10px;
}

#articles #detail-article.opened{
    opacity: 1;
}

.close:hover{
opacity: 0.4 !important;
}
#myModal, section.article{
    color: white;
    background: rgba(170, 59, 59, 0.96);
    padding: 30px;
    font-size: 13px;
    font-family: helvetica, arial, freesans, clean, sans-serif;
     font-size: 17px;
    text-rendering: optimizeLegibility;
}
section.article a{
    color: #CA726C;
}

section.article .glyphicon{
    visibility: hidden;
}
/* news */
section.news_article{
    padding: 20px;
    background: grey;
    color: rgb(233, 233, 29);
    font-family: helvetica, arial, freesans, clean, sans-serif;
}
section.news_article a{
    color: rgb(0, 250, 0);
    font-size: 20px;
}
section.news_article .glyphicon{

}

/* List */
#list{
    text-align: center;
}
#list ul{
    list-style: none;
}
#list li{
    padding: 10px;
    background: grey; 
    border-bottom: 1px solid rgba(255, 255, 255, 0.11);
    text-align: left;
    color:white;
}
#list .resolution{
    padding: 10px;
    background: rgb(54, 107, 54);
    margin-top: 10px;
    border: 1px solid;
}
/*About */
#about{
    font-size: 2em;
}
#about .made{
    background-size: contain;
    height: 50px;
    background-repeat: no-repeat;
    margin-top: 15px;
}
#about .drupal{
    background-image: url('../img/drupal.png');
}
#about .angular{
    background-image:  url('../img/angular.png');
}
#about .html5{
    background-image:  url('../img/HTML5-Logo.png');
}

.errnotfound {
    color: transparent;
    text-shadow: #fff 0 0 4px;
    font-size: 5em;
}
.glyphicon {
    margin: 5px;
}

/* Particle */
rect {
  fill: none;
  pointer-events: all;
}

circle {
  fill: none;
  stroke-width: 2.5px;
}
svg{
    width: 100%;
    height: 100%;
    background: transparent;
    position: absolute;
    top: 0;
    left: 0;

}

.loader{
    height: 100px;   
    width: 100px;
    opacity: 1;
    margin-left: 50%;
    background: url('../favicon.png');
    background-size: 100px;
        -webkit-animation-duration: 2s;
           -moz-animation-duration: 2s;
             -o-animation-duration: 2s;
                animation-duration: 2s;
        -webkit-animation-fill-mode: both;
           -moz-animation-fill-mode: both;
             -o-animation-fill-mode: both;
                animation-fill-mode: both;
}
.loader.invi{
    -webkit-animation-name: hideSmall;
    -moz-animation-name: hideSmall;
    -o-animation-name: hideSmall;
    animation-name: hideSmall;
}
@-webkit-keyframes hideSmall {
        0% {
                opacity: 1;  
        }        
       50%{
            opacity:0;
            height: 100px;
            width: 100px;
        }
        100% {
            opacity:0;
               height: 0px;
               width: 0px;
        }
}

@-moz-keyframes hideSmall {
        0% {
                opacity: 1;  
        }        
       50%{
            opacity:0;
            height: 100px;
            width: 100px;
        }
        100% {
            opacity:0;
               height: 0px;
               width: 0px;
        }
}
@-o-keyframes hideSmall {
        0% {
                opacity: 1;  
        }        
       50%{
            opacity:0;
            height: 100px;
            width: 100px;
        }
        100% {
            opacity:0;
               height: 0px;
               width: 0px;
        }
}
@keyframes hideSmall {
        0% {
                opacity: 1;  
        }        
       50%{
            opacity:0;
            height: 100px;
            width: 100px;
        }
        100% {
            opacity:0;
               height: 0px;
               width: 0px;
        }
}

@-webkit-keyframes showBig {
        0% {
            opacity: 0;  
            height: 0px;
            width: 0px;
        }        
       50%{
            opacity:0;
            height: 100%;
            width: 100%;
        }
        100% {
            opacity:1;
            height: 100%;
            width: 100%;
        }
}

@-moz-keyframes showBig {
          0% {
            opacity: 0;  
            height: 0px;
            width: 0px;
        }        
       50%{
            opacity:0;
            height: 100%;
            width: 100%;
        }
        100% {
            opacity:1;
            height: 100%;
            width: 100%;
        }
}
@-o-keyframes showBig {
          0% {
            opacity: 0;  
            height: 0px;
            width: 0px;
        }        
       50%{
            opacity:0;
            height: 100%;
            width: 100%;
        }
        100% {
            opacity:1;
            height: 100%;
            width: 100%;
        }
}
@keyframes showBig {
         0% {
            opacity: 0;  
            height: 0px;
            width: 0px;
        }        
       50%{
            opacity:0;
            height: 100%;
            width: 100%;
        }
        100% {
            opacity:1;
            height: 100%;
            width: 100%;
        }
}
/** BOOTSTRAP OVERRIDES */
img ,.modal img{
    max-width :100%;
    padding-bottom: 20px;
}


#experiments{
    background: rgba(255, 255, 255, 0.84);
}

.experiment{
    transition: all 0.4s linear;
    
}
.experiment:hover{
    background: rgba(0, 0, 0, 0.92);
}

.experiment img{
    border-radius: 100px;
    height: 100px;
    width: 100px;
}