<!DOCTYPE html>
<html lang="en" ng-app="monchacos" ng-controller="mainCtrl" >
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>RVPG</title>
        <link rel="icon" 
          type="image/png" 
          href="favicon.png">
          
        <!-- CSS FILES -->
            <link href="bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
            <!-- There the page styles -->
            <link href="css/styles.css" rel="stylesheet">
        
        <!-- JS Files -->
            <script type="text/javascript" src="bower_components/jquery/jquery.min.js"></script>  
            <script type="text/javascript" src="bower_components/underscore.string/dist/underscore.string.min.js"></script>            
            <script type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.js"></script>        
            
    </head>

    <body class="container-fluid">
        <header>
            <div class="row">
                <div class="col-xs-2">
                     <img src="img/logo.png" > 
                </div>
                <div class="col-xs-10">
                    <ul class="menu" ngCloak>
                        <li class="col-sm-3 col-md-2" ng-repeat="link in aboutMenu" >
                            <a target="_blank" href="{{link.src}}">{{link.title}}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </header>
        <div class="container mainContainer" >
            <div class="col-xs-3">
                <ul class="menu">
                    <li ng-repeat="link in mainMenu">
                        <a  href="{{link.src}}" target="{{link.target}}"><span class="{{link.class}}"></span>{{link.title}}</a>
                    </li>
                </ul>
            </div>
            <div class="col-xs-9 container-fluid">
                <section id="main">
                    <div ng-view class="row"></div>
                </section>
            </div>
        </div>
    </body>

    
    <script src="js/libs/angular/angular.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/controllers/monchacosCtrl.js"></script>
    <script src="js/services/monchacosStorage.js"></script>
    <script src="js/directives/monchacosActive.js"></script>
  
    <link href='http://fonts.googleapis.com/css?family=Share+Tech+Mono' rel='stylesheet' type='text/css'>
</html>