<section class="article col-md-12">
<h1>{{node.title}}</h1>
<div ng-cloak ng-bind-html-unsafe="node.body" ></div>
<div ng-show="node.youtube">
<iframe width="100%" height="400px" src="{{node.youtube}}" frameborder="0" allowfullscreen></iframe>
</center>
</div>

<div ng-show="node.field_references && node.field_references.und && node.field_references.und.length > 0">
  <h3> For more information, see:  </h3>
  <ul>
    <li ng-repeat="link in node.field_references.und">
      <a href="link.url" target="_blank">{{ link.title }}</a>
    </li>
  </ul>
</div>
</section>