<div class="col-xs-12 intro">
    <a href="#hire">
        <span class="text-intro">Available for development - Pick your slot fast! </span>
    </a>
</div>

<div class="loader" ng-class="{invi : loaded== true}" ></div>


<div class="col-xs-12" id="articles"  ng-class="{visi : loaded == true}" ng-show="loaded == true">
  

    <div class="row">
      <div class="count"><span class="number">{{articles.length}}</span> articles published</div>
    </div>
    
    <ul id="articles-list"  ng-cloak class="row">
        <li ng-repeat="article in articles" class="col-xs-12" >
            <div class="article" ng-click="readArticle(article)"  >{{article.node_title}}</div>
        </li>
    </ul>
</div>

<div class="row" ng-show="message.length > 0">
  <div class="col-md-4 col-md-offset-4">
    <span class="errnotfound">{{message}}</span>
  </div>
</div>