
<div class="col-xs-12 page">

  <p>
   	I am available for hire, contact me and tell me about your project.
  </p>
  
  <p>
    If you need one of the following services, I can provide that on an hourly
    independent contractor basis:
  </p>
  
  <ul>
    <li>
      rapid prototyping. If you can describe your problem in terms of what the
      inputs are and what the outputs should be, I can build it very quickly.
    </li>
    <li>
      modular web development. front and back and
      <a href="http://browserify.org">in between</a>.
      release management. finding good modules. testing.
      carefully untangling a ball of mud with tiny modules.
    </li>
    <li>
    	Embedding your website or application into a mobile application with Cordova 
    </li>
    <!--<li>
      training. If you need to get a whole classroom full of folk up to speed
      quickly on the basics of node,
      <a href="https://github.com/substack/browserify-handbook">browserify</a>,
      <a href="https://github.com/substack/stream-handbook">streams</a>,
      modularity, npm packages, frontends, backends,
      <a href="https://github.com/substack/leveldb-handbook">leveldb</a>,
      or whatever else, I can educate as well as entertain!
    </li>-->
  </ul>
  
  <p>
    I use <a href="http://nodejs.org/">node</a> because it has 
    <a href="https://www.npmjs.org/">a nice package manager</a>
    and <a href="http://nodeschool.io/">community</a>.
  </p>
  
  <p>
    If you are in the Madrid accessible I may be able
    to meet in person where appropriate.
  </p>
  
  <p>
    It will cost you: 35€ / hour.
    I use <a href="http://npmjs.org/package/clocker">clocker</a> to track hours
    and <a href="http://npmjs.org/package/invoicer">invoicer</a> to generate
    invoices.
  </p>
  
  <p>
    In the course of development, I publish tiny reusable open source packages
    where appropriate. This is crucial to the craft of doing software well and
    everyone wins, especially you. This is just how I work.
  </p>
  
  <p>
    If you have a fitting project, email me about it!
    <a href="mailto:rafinskipg@gmail.com">rafinskipg@gmail.com</a>
  </p>
  

</div>