<!-- hi, i'm glad you looked here, if you did, when you mail me, add "hi, cloud" in the subject of your email -->
<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <h2>I'm looking for a team</h2>
        <h3>Of crazy people</h3>
        <h4>To do crazy things</h4>
        <section class="team">
            <p>If you are passionate about your job, constant, curious, loyal and want to create some games, projects or new things. </p>
            <strong>Demonstrate how great you are </strong>
            <p>Contact me at rafinskipg@gmail.com</p>
         </section>
    </div>
</div>